.content1
{
    margin-top:100px;
}

p
{
    margin: 50px 100px ;
    border: 2px;
    border-style:solid ;
    display: block;
    text-align: center;
    max-width: 300px;
    border-radius: 10px;
    height: 100px;
    padding: 20px 50px;
    overflow:hidden ;
}

a{
    text-decoration: none;
    color: black;
}
p:hover
{
    background-color: #E0E0E0;
}